::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #2d3030;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #808080;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}